.hero-slide {
  padding-top: 200px;
  padding-bottom: 80px;
  min-height: 800px;
  color: $color-white;
  position: relative;

  &::before,
  &::after,
  & > picture img {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before {
    max-width: 1440px;
    background: $hero-gradient;
    z-index: 3;

    @include vp-1439 {
      max-width: 768px;
    }

    @include vp-767 {
      max-width: 320px;
    }
  }

  &::after {
    max-width: 1440px;
    background-color: #5f83ae;
    z-index: 1;

    @include vp-1439 {
      max-width: 768px;
    }

    @include vp-767 {
      max-width: 320px;
    }
  }

  @include vp-1439 {
    padding-top: 342px;
    min-height: 1034px;

    &:nth-child(2) {
      padding-top: 137px;
    }
  }

  @include vp-767 {
    padding-top: 144px;
    min-height: 568px;
  }
}

.hero-slide > picture img {
  max-width: 1440px;
  z-index: 2;
  object-fit: cover;

  @include vp-1439 {
    max-width: 768px;
  }

  @include vp-767 {
    max-width: 320px;
  }
}

.hero-slide__wrapper {
  position: relative;

  @include vp-1439 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.hero-slide__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 6;

  @include vp-1439 {
    align-items: center;
  }
}

.hero-slide__content h3 {
  position: relative;
  z-index: 3;
  margin: 0;
  margin-bottom: 23px;
  max-width: 944px;
  font-size: 77px;
  line-height: 77px;
  font-weight: 800;

  @include vp-1439 {
    max-width: none;
    margin-bottom: 13px;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 26px;
  }
}

.hero-slide__content p {
  position: relative;
  z-index: 3;
  margin: 0;
  margin-bottom: 37px;
  max-width: 464px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;

  @include vp-1439 {
    max-width: 500px;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 60px;
    max-width: none;
    font-size: 15px;
    line-height: 20px;
  }
}

.hero-slide__info {
  margin-top: 134px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;

  @include vp-1439 {
    display: none;
  }
}

.hero-slide__info span {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  min-height: 44px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 39px;
  padding-right: 19px;
  border: 1px solid $color-white;

  &::before {
    position: absolute;
    content: "";
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-white;
  }
}

.hero-slide__duration::before {
  width: 10.91px;
  height: 10.91px;
  left: 20px;
  top: 16px;
  mask-image: url("../__spritemap#sprite-icon-moon-view");
  mask-size: 10.91px 10.91px;
}

.hero-slide__difficulty::before {
  width: 9.82px;
  height: 10.91px;
  left: 20px;
  top: 16px;
  mask-image: url("../__spritemap#sprite-icon-level-view");
  mask-size: 9.82px 10.91px;
}

.hero-slide__btn {
  max-width: 180px;
}

.hero-slide__img {
  font-size: 0;
  line-height: 0;
  position: absolute;
  width: 410px;
  right: 120px;
  top: -13px;

  @include vp-1439 {
    position: relative;
    top: 0;
    right: 0;
    min-height: 365px;
    width: 442px;
    margin-bottom: 160px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero-slide__img img {
  display: block;
}

.hero-slide__photo-1 {
  position: absolute;
  top: 93px;
  right: 0;
  z-index: 6;

  @include vp-1439 {
    top: 98px;
  }
}

.hero-slide__photo-2 {
  position: absolute;
  top: 0;
  right: 102px;
  z-index: 5;

  @include vp-1439 {
    right: 176px;
    top: 45px;
  }
}

.hero-slide__photo-1 img {
  width: 277px;
  height: 366px;

  @include vp-1439 {
    width: 236px;
    height: 312px;
  }
}

.hero-slide__photo-2 img {
  width: 308px;
  height: 407px;

  @include vp-1439 {
    width: 266px;
    height: 351px;
  }
}
